<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>chat bot</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
</head>
<body>
    <form method="post" action="/name">
        <div class="form-group" style="width: 18rem ; margin: auto;">
          <label for="exampleInputEmail1"  style="padding: 1px; margin-left: 2px;"> name :</label>
          <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter name" name = username>
          <label for="exampleInputEmail1"  style="padding: 1px; margin-left: 2px;"> company name :</label>
          <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="company namel" name = companyname>
          <button type="submit" class="btn btn-primary">Submit</button>
        </div>
        
        
      </form>
</body>
</html>